
  <div class="scrollbar" id="Style-default">
    <div class="force-overflow">
                  
<br>
       
    <div style="overflow-x:auto; " >
     <center> 
      <div ng-show="solars.length !=0">
        <form  novalidate>
                  Enter id to delete (Which will delete both solardatas and solarusers): 
                         <input type="text" ng-model="SolarAll.deleteSolarDatas.selectedIds"  required>
       
                        <button class="btn btn-primary"   ng-click="SolarAll.SerarchTags(deleteSolarDatas)" ng-really-message="Are you sure?" type="submit">Delete</button>

                </form> 
                <br>
           <table  >
                <thead>
                      <tr >
                            <th>SL NO</th>
                            <th >CUSTOMER</th>
                            <th>ID</th>

                            <th>RTU CONNECTIVITY</th>
                            <th>RTU LAST CONNECTED</th>
                            <th>DC VOLT(V)</th>
                            <th>O/P VOLT(V)</th>
                            <th>O/P AMPERE (A)</th>
                            <th>O/P POWER (KW)</th>
                            
                            <th>TOTAL POWER(KW)</th>
                            <th>VFD SPEED(rpm)</th>
                            <th>O/P FREQUENCY(Hz)</th>
                            <th>FLOW RATE(LPM)</th>
                            <th>PUMP RUN HOUR</th>
                            <th>VFD STATUS/ FAULT</th>
                            <th>ACTION</th>
                            
                      </tr>
                </thead>


                <tbody>

                  <tr  class="hoverme" style="width: 200px"  ng-class="{clicked:rowClicked==solar}" ng-repeat="solar in solars " > 
                            <td>{{$index+1}}</td>
                            <td>{{solar.customer}} </td>
                              <td><a  href="/viewsolar/{{solar.S_id}}" ><u>{{solar.S_id}}</u></a></td>
                            <!--<td>&#10006; </td>-->
                                                <td>{{solar.rtuConnectivity}} </td>
                                              <td>{{solar.rtuLastConnected}} </td>
                                              <td>{{solar.dcVolt}} </td>
                                              <td>{{solar.outputVolt}} </td>
                                              <td>{{solar.outputAmpere}} </td>
                                              <td>{{solar.outputPower}} </td>
                                              <td>{{solar.totalPower}} </td>
                                              <td>{{solar.vfdSpeed}} </td>
                                              <td>{{solar.outputFrequency}} </td>
                                              <td>{{solar.flowRate}} </td>
                                              <td>{{solar.pumprunHour}} </td>
                                             <!-- <td><img src="circle.png" width="10" height="10"> </td>-->
                                              <td>{{solar.vfdStatus}} </td>
                                               <td><a href="#"><button type="button" ng-click="SolarAll.removeSolarUser(solar.S_id);" class="btn btn-danger" >Delete</button></a></td>       
                   
                    </tr>
            </tbody>
        </table>
      </div>
        <div ng-show="solars.length ==0">
 <h3>No data to display.</h3> 
</div>
    </center>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div></div>

