
        <div class="col-md-4">
                <img src="SolarPump.jpg" style="width:100%;height:540px;">
               
        </div>
         <div class="col-md-4" style="height:540px;">
                <br>
                <br>
                <div> <img src="solarImage.jpg" style="width:100%;height:100%;"></div>
                    <div>
                        <h2 style=" text-align: justify;size: 48px;color: #891e04">
                            <b>Welcome to Solar</b></h2>
                        <h4 style="text-align: justify;height: 30px;size: 20px">
                            A solar water pump has a mini power house at its heart and consists of a calibrated and matching solar array of modules – tuned with the equivalent power of pump for that particular application. The solar water pumping system is capable of running all types of electrical water pumps with applications varying from irrigation to household demands.
                        </h4>
                       
                      </div>
                
            </div>
            <div class="col-md-4">
                 <div style="margin-top:0px; height: 80%;background-color:#FFFFFF">
                            <h2 class="text-center" style="size: 20px;color:purple"><img src="admin.png" style="width:30%;height: 30% "><br><b>Admin Login</b>
                            </h2>
                        <h1 class="text-center" ><a href="/login" class="btn btn-lg btn-primary " style="height: 46px;width: 100px;" type="submit">Sign in</a></h1>
                           
                        
                            
                </div>
              
        
                    <div style="margin-top:0px;height: 80%;background-color: #FFFFFF">
                            <div style="width: 100%;height: 47px;border-bottom: 2px solid green;"></div>
                                <h2 class="text-center" style="size: 20px;color: purple">
                                    <img src="UserLigin.png" style="width:30%;height: 30% "><br><b>User Login</b></h2>
                                    <h1 class="text-center" >    <a href="/login" style="height: 46px;width: 100px;" class="btn btn-lg btn-primary" type="submit">Sign in</a></h1>
                                    <br>       <br>  <br>
                        </div>
                    
            </div>
            
          
   












