<br>
<br>


<h1>Search by perticular ids</h1>
 <div class="row">
             <div class="col-md-12">
                            <div class="col-md-4">  </div>
                           <div class="col-md-4" >

                          
                                 <form  >         
                                          <br>
                                          <label>Enter the Solar &nbsp :</label>

                                            <input type="text" style="width: 210px;height: 30px;" ng-click='SearchAll.addTagSerachAll(addSearchAll);'  ng-model="SearchAll.addSearchAll.checkindatesearch" class="form-group"   >
                                           
                                            <br>                        
                                </form>
                           </div>
                           <div class="col-md-4"> </div>
             </div>
  </div>        
  <br><br>
  <div style="overflow-x:auto; " >
        <center> 
               <table  >
                        <thead>
                          <tr >
                                <th>SL NO</th>
                           <!-- <th >CUSTOMER</th>-->
                            <th>ID</th>

                            <th>RTU CONNECTIVITY</th>
                            <th>RTU LAST CONNECTED</th>
                            <th>DC VOLT(V)</th>
                            <th>O/P VOLT(V)</th>
                            <th>O/P AMPERE (A)</th>
                            <th>O/P POWER (KW)</th>
                            
                            <th>TOTAL POWER(KW)</th>
                            <th>VFD SPEED(rpm)</th>
                            <th>O/P FREQUENCY(Hz)</th>
                            <th>FLOW RATE(LPM)</th>
                            <th>PUMP RUN HOUR</th>
                            <th>VFD STATUS/ FAULT</th>
                          </tr>
                        </thead>
                        <tbody>                        
                          <tr style="width: 200px"  ng-repeat="solar in solardatas " > 
                                <td>{{$index+1}}</td>
                                <td>{{solar.S_id}}</td>
                                <!--<td>&#10006; </td>-->
                               <td>{{solar.rtuConnectivity}} </td>
                                              <td>{{solar.rtuLastConnected}} </td>
                                              <td>{{solar.dcVolt}} </td>
                                              <td>{{solar.outputVolt}} </td>
                                              <td>{{solar.outputAmpere}} </td>
                                              <td>{{solar.outputPower}} </td>
                                              <td>{{solar.totalPower}} </td>
                                              <td>{{solar.vfdSpeed}} </td>
                                              <td>{{solar.outputFrequency}} </td>
                                              <td>{{solar.flowRate}} </td>
                                              <td>{{solar.pumprunHour}} </td>
                                             <!-- <td><img src="circle.png" width="10" height="10"> </td>-->
                                              <td>{{solar.vfdStatus}} </td>        
                            </tr>
                        </tbody>
                 </table>
         </center>
</div>
<br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>
 